::-webkit-scrollbar {
    width: 6px; /* Width of the entire scrollbar */
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #999; /* Color of the scrollbar handle */
    border-radius: 3px; /* Rounded corners */
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f15b; /* Color of the scrollbar track */
  }

  /* Track on hover */
  ::-webkit-scrollbar-track:hover {
    background: #ddd; /* Color of the scrollbar track on hover */
  }
  