#what-we-do {
  font-family: "Raleway", sans-serif;
  text-align: center;
  background-color: #08707f;
  padding: 1rem 0 4rem 0;
  /* margin-bottom: 2rem; */
}

.wwd-title {
  font-size: 3rem !important;
  font-weight: 700;
  padding: 1.2rem 0;
  color: lavender;
  margin-bottom: 2rem;
}

.wwd-column {
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, 1fr)); /* Two columns */
  gap: 50px;
  max-width: 80%;
  margin: auto;
  justify-content: center;
}

.wwd-card {
  width: 100%;
  max-width: 650px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.wwd-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.wwd-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.wwd-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: #012970;
  margin-top: 15px;
}

.wwd-description {
  font-size: 1.3rem;
  color: #444;
  margin-top: 10px;
  line-height: 1.5;
}

.wwd-link {
  margin-top: 12px;
  display: inline-block;
  color: #08707f;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #08707f;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.wwd-link:hover {
  background-color: #08707f;
  color: white;
}

@media (max-width: 1024px) {
  .wwd-column {
    max-width: 90%;
    gap: 20px;
  }
  .wwd-card {
    max-width: 450px;
  }
}

@media (width< 576px) {
  .wwd-title {
    font-size: 2rem !important;
  }

  .wwd-column {
    grid-template-columns: 1fr;
    max-width: 90%;
  }

  .wwd-card {
    width: 100%;
    max-width: 95%;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .wwd-text {
    font-size: 2rem;
  }

  .wwd-description {
    font-size: 1rem;
  }
}
