#what-we-do{
  font-family: Raleway,sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #08707F;
  justify-content: center;
  padding-bottom: 100px;
}
.wwd-wrap{
  padding: 100px 0 50px 0;
 width:100vw;
}
.wwd-title{
  color: lavender;
  font-weight: bold;
  font-size:3.8rem;
  padding-bottom:50px;
}
#con3,#con1,#con2, #con4{
  width: 24rem;
  height: 32rem;
  border: none;
}

.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1000ms;
  transform-style: preserve-3d;
  border-radius: 20px;
  scale:0.9;
}

.front,
.back {
  border-radius: 20px !important;
  height: 32rem;
  width: 100%;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
  
}

.front {
  justify-content: center;
  font-weight: bold;
  font-size: 2.1rem;
  color: #012970;
}

.back {
  background-color: #94C1C8;
  transform: rotateY(180deg);
  display: flex;
  border-radius: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  scale: 1;
  box-shadow: rgba(245, 246, 248) 0px 0px 6px 6px;  
}
.back>p{
  padding: 2rem;
  font-weight: 500;
}
.profile_img>img{
  object-fit: contain;
  height: 25rem;
  width: 100%;
}
.profile_img{
  height: 25rem;
  width: 100%;
}


.yip-redirect{
  margin-left: 20px;
    border: solid 0.3px transparent;
    border-radius: 50px;
    padding: 0.2rem 2rem;
    margin-top:-40px;
    color: #000;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'Raleway',sans-serif;
    text-decoration: none !important;
}

@media only screen and (max-width: 868px) {
  .front>.text {
    font-size: 32px;
  }
  .back{
    font-size: 20px;
  }
  .yip-redirect{
    margin-top:-60px;
  }
}
