#spotlight-header {
  margin-top: 5rem !important;
}

.card-text i {
  color: rgb(35, 95, 224);
  margin-right: 10px;
}
.card-text {
  text-transform: lowercase !important;
}

.social-links i {
  font-size: 2rem;
}

iframe {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* .iframe-container {
  width: 100%;
  height: 100%;
} */

.iframe-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio (9/16 = 0.5625, hence 56.25%) */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
