#spotlight-header {
  margin-top: 4rem !important;
}

#spotlight-header .heading h1 {
  font-size: 3rem;
  color: black;
}

#spotlight-header .heading {
  height: 6rem;

  /* background: rgb(57, 222, 85); */
  /* background: linear-gradient(90deg, #03977a 0%, #1f201c 50%, #03977a 100%); */
}

.card-text i {
  color: rgb(35, 95, 224);
  margin-right: 10px;
}

.social-links i {
  font-size: 1.5rem;
}

iframe {
  width: 100%;
  height: 100%;
  margin: 0;
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio (9/16 = 0.5625, hence 56.25%) */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-text {
  font-family: Poppins, sans-serif !important;
}

.yt-link i {
  color: red;
}
.redirect-btn:hover {
  text-decoration: none;
}

.redirect-btn {
  text-transform: none !important;
  border: 1px solid black;
  border-radius: 20px;
  background-color: transparent;
  color: rgb(6, 108, 96);
  margin-top: 0.75rem;
}
.redirect-btn:hover {
  background-color: rgba(145, 151, 154, 0.488);
}
.spotlight-header {
  background-color: #08707f;
}
.spotlight-header .redirect-btn {
  font-size: 1.5rem;
}

.individual-container {
  background-color: #08707f;
  padding: 2rem 1rem;
}

.individual-head {
  font-size: 3rem;
  margin: 0;
  color: white;
}

.read-more-btn {
  color: blue;
  cursor: pointer;
  border: none;
  background: none;
  padding: 5px;
  font-size: 14px;
  text-decoration: underline;
  text-transform: capitalize;
}

/* #individual {
  transition: all 2s ease-in-out;
} */

.about {
  text-align: justify;
}

.expandable {
  max-height: 700px;
  overflow: hidden;
  transition: all 0.5s linear;
}

.expanded {
  max-height: 1200px;
  overflow: hidden;
  transition: all 0.5s linear;
}

#individual {
  align-items: flex-start !important;
}
#individual .card {
  height: 430px;
}

.modal-content {
  /* background-color: #009990 !important; */
  padding: 0 !important;
}
.modal-header {
  /* background-color: #003092; */
  background-color: #009990;
}
.about-container .card-text {
  display: flex;
  align-items: flex-start;
  gap: 4px; /* Adjust spacing between icon and text */
  flex-wrap: no-wrap; /* Ensures wrapping works properly */
}
.card-text i {
  flex-shrink: 0; /* Prevents icon from shrinking */
}
.modal-body {
  align-items: start;
}
.modal-content .btn-close {
  color: white !important;
}
@media (width <= 576px) {
  #individual .card {
    height: auto;
  }
  .individual-head {
    font-size: 2rem;
  }
  .spotlight-header .heading h1 {
    font-size: 2.3rem !important;
  }
}

@media (width >= 992px) {
  #individual .card {
    height: 390px;
  }
}

@media (width >= 1200px) {
  #individual .card {
    height: 450px;
  }
}
