#spotlight-header {
  margin-top: 4rem !important;
}

#spotlight-header .heading h1 {
  font-size: 4rem;
  color: rgb(255, 255, 255);
}

#spotlight-header .heading {
  height: 6rem;

  background: #08707f;
  text-shadow: 10px 10px 10px #000000;
  /* background: linear-gradient(90deg, #000000 0%, #14131375 50%, #000000 100%); */
}
#spotlight-header #spotlight-intro {
  border-radius: 10px !important;
}

.card-text i {
  color: rgb(35, 95, 224);
  margin-right: 10px;
}

.social-links i {
  font-size: 1.5rem;
}

.iframe-container iframe {
  margin: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
}

.card-text {
  font-family: Poppins, sans-serif !important;
}

.yt-link i {
  color: red;
}
.redirect-btn:hover {
  text-decoration: none;
}

.redirect-btn {
  text-transform: none !important;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(6, 108, 96);
  color: white;
  margin-top: 0.75rem;
  padding: 5px;
}
.redirect-btn:hover {
  background-color: white;
  color: rgb(6, 108, 96);
}
.spotlight-header {
  background-color: #08707f;
}
.spotlight-header .redirect-btn {
  font-size: 1.2rem;
}

.individual-container {
  background-color: #08707f;
  padding: 2rem 1rem;
}

.individual-head {
  font-size: 3rem;
  margin: 0;
  color: white;
}

.read-more-btn {
  color: blue;
  cursor: pointer;
  border: none;
  background: none;
  padding: 5px;
  font-size: 14px;
  text-decoration: underline;
  text-transform: capitalize;
}

.about {
  text-align: justify;
}

.expandable {
  max-height: 700px;
  overflow: hidden;
  transition: all 0.5s linear;
}

.expanded {
  max-height: 1200px;
  overflow: hidden;
  transition: all 0.5s linear;
}

#individual {
  align-items: flex-start !important;
}

.modal-content {
  /* background-color: #009990 !important; */
  padding: 0 !important;
}
.modal-header {
  /* background-color: #003092; */
  background-color: #009990;
}
.about-container .card-text,
.latest-container .card-text {
  display: flex;
  align-items: flex-start;
  gap: 4px; /* Adjust spacing between icon and text */
  flex-wrap: no-wrap; /* Ensures wrapping works properly */
  margin: 0 0 5px 0;
}
.card-text i {
  flex-shrink: 0; /* Prevents icon from shrinking */
}
.modal-body {
  align-items: start;
}
.modal-content .btn-close {
  color: white !important;
}

.latest {
  background-color: white;
  border-radius: 10px;
  height: auto;
}
.latest .video {
  height: auot;
  /* background-color: #08707f; */
}
.medium-article {
  min-height: 6rem;
  max-height: 600px;
  overflow: scroll;
}
.spotlight-body {
  background-color: #08707f;
}

@media (min-width: 768px) {
  .medium-article {
    min-height: 30%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .medium-article {
    height: 300px;
    overflow: scroll;
  }
}

@media (max-width: 576px) {
  #individual .card {
    height: auto;
  }
  .individual-head {
    font-size: 2rem;
  }
  .spotlight-header .heading h1 {
    font-size: 2.3rem !important;
  }
  p {
    font-size: 0.8rem;
  }
  .name {
    font-size: 1.2rem;
    margin: 0;
  }
}
