body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  position: absolute; 
}

.overlay {
  position: relative;
  z-index: 1;
  background: linear-gradient(transparent, black);
  width: 100vw;
  height: 100vh;
}

.xpWfed {
  display: none !important;
}

.title {
  justify-content: center;
  position: absolute;
  flex-direction: column;
  z-index: 5;
  width: 100vw;
  /* height:100vh; */
  background-color: transparent;
  top: 30vh;
  -webkit-text-stroke: black;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  -webkit-text-stroke: 2px #08707f;
}

.wrap-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75vw;
}

.title-image {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.title h1 {
  font-size: 64px;
  color: white;
  text-align: left;
  padding-left: 2rem;

  /* position:relative; */
}

@media only screen and (max-width: 1015px) {
  .wrap-title {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .title h1 {
    font-size: min(10vw, 48px);
    text-align: center;
    padding: 0;
  }

  .title-image {
    width: min(30vw, 128px);
    height: min(30vw, 128px);
    border-radius: 20px;
  }
}